.flex{
    display: flex;
    border: 2px solid aqua;
    background-color: bisque;
    padding: 20px;
    /* width: 500px; */
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: end;
    align-items: center;
    align-content: flex-start;
    
}
.flex div{
    border: 3px solid brown;
    background-color: rgb(10, 147, 51);
    text-align: center;
    margin: 30px;
    width: 300px;
    height: 40px;
    

}
/* .item1{
    align-content: flex-start;

}
.item2{
    align-self:center;
 
} */


