body{
    background-color: aquamarine;
}
table{
    border-color: brown;
    background-color: chartreuse;
    text-align: center;
    padding: 10px;
}
thead {
    background-color: rgb(34, 105, 205);
}

td {
    border: 3px solid greenyellow;
    padding: 2px;
    background-color: bisque;
}


a:hover {
    color: rgb(106, 22, 158);
    background-color: bisque;

}

a:visited {
    color: brown;
    background-color: rgb(101, 193, 36);
}

a:active {
    color: darkcyan;
    background-color: rgb(212, 212, 218);
}

span {
    display: block;
    border: 20px solid red;
    margin: 50%;
}

span {
    border: 20px solid red;
    margin: 50%;
}

figure {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body {
    background-color: rgb(138, 114, 27);
}

p {
    border: 5px solid forestgreen;
    background-color: bisque;
    width: 1110px;
    line-height: 30px;
    padding: 20px;
    margin: 20px;
    text-indent: 40px;

}

.div {
    margin-left: 20px;
    /* text-align: center; */
    display: block;
}

d {
    border: 5px solid rgb(66, 175, 161);
    background-color: rgb(44, 10, 41);
    width: 1110px;
    line-height: 30px;
    padding: 20px;
    margin: 20px;
    text-indent: 40px;
}



